:root {
    --clr-dark: #09090b;
    --clr-light: #fafafa;
    --clr-slate400: #a1a1aa;
    --clr-slate600: #52525b;
    --clr-slate800: #27272a;
    --clr-grape: #e11d48;
    --clr-vine: #55BE96;

    /* Grape RGB rgb(225, 29, 72) */
    /* Vine RGB rgb(85, 190, 150) */

    /* sizes */
    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: .875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    touch-action: manipulation;
}
/* 
html {
    overflow:scroll
} */

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}


